<%- include("partials/header.ejs") %>

    <h1>Blog Home</h1>
    <a href="/compose">Compose</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/posts/<%= post.id %>"><%= post.title %></a>
                <a href="/posts/<%= post.id %>/edit">Edit</a>
                <form action="/posts/<%= post.id %>/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>

</main>

</body>

</html>